In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import urllib.request

In [2]:
df = pd.read_csv('all_season.csv')

In [3]:
df.shape

(6528, 35)

In [4]:
allstars = []
for year in range(2010, 2020):
    site = 'https://www.basketball-reference.com/allstar/NBA_' + str(year) + '.html'
    page= urllib.request.urlopen(site)
    soup = BeautifulSoup(page, 'lxml')
    if year == 2019:
        for i in soup.find('table', {"id":'Giannis'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))
        for i in soup.find('table', {"id":'LeBron'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))
    elif year == 2018:
        for i in soup.find('table', {"id":'Stephen'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))
        for i in soup.find('table', {"id":'LeBron'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))
    else:
        for i in soup.find('table', {"id":'East'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))
        for i in soup.find('table', {"id":'West'}).find_all('a'):
            if '/players' in i['href']:
                allstars.append((year, i['href']))

In [5]:
df['allstar'] = 0

In [6]:
# iterate through allstar_set 
for allstar in allstars:
    df.loc[(df.Season==allstar[0]) & (df.href==allstar[1]), 'allstar'] = 1

In [7]:
df.describe()

,Unnamed: 0,Season,Age,G,GS,MP,FG,FGA,FG%,3P,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Height,allstar
count,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6492.000000,6528.000000,...,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000,6528.000000
mean,3263.500000,2013.963542,26.504749,45.001685,20.946232,19.599341,2.987178,6.691023,0.436943,0.675735,...,2.583563,3.442126,1.775322,0.616498,0.386045,1.114737,1.709896,7.998974,78.762408,0.037990
std,1884.615611,3.092351,4.142214,25.761915,26.496798,9.408197,2.080133,4.407979,0.103062,0.717726,...,1.771661,2.425313,1.744137,0.424570,0.428904,0.775062,0.777219,5.716410,3.517657,0.191187
min,0.000000,2009.000000,19.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000,0.000000
25%,1631.750000,2011.000000,23.000000,23.000000,0.000000,12.100000,1.400000,3.300000,0.396000,0.000000,...,1.300000,1.700000,0.600000,0.300000,0.100000,0.600000,1.200000,3.600000,76.000000,0.000000
50%,3263.500000,2014.000000,26.000000,46.000000,7.000000,19.100000,2.500000,5.700000,0.436500,0.500000,...,2.200000,2.900000,1.200000,0.500000,0.300000,0.900000,1.700000,6.700000,79.000000,0.000000
75%,4895.250000,2017.000000,29.000000,69.000000,37.000000,27.300000,4.200000,9.300000,0.483000,1.100000,...,3.400000,4.600000,2.300000,0.800000,0.500000,1.500000,2.300000,11.200000,81.000000,0.000000
max,6527.000000,2019.000000,43.000000,83.000000,82.000000,42.000000,11.000000,24.500000,1.000000,5.100000,...,12.000000,18.000000,12.800000,2.500000,6.000000,5.700000,6.000000,37.200000,90.000000,1.000000

In [8]:
df.to_csv('all_season.csv')